header {
  font-size: 45px;
  color: var(--textColor--);
  transition: 0.7s;
}
header:hover {
  transform: rotateY(50deg);
}
h1 {
  margin: 0;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 500px;
  background-image: url(https://st.redbus.in/seo/ind/HeroImageGuideline-V-2-new_1650873408.jpg);
  background-color: var(--bg-color--);
}

form {
  margin: 100px 0 200px 0;
}
input {
  border-radius: 5px;
  opacity: 0.9;
  margin: 0;
  padding: 0 15px;
  border: 1px solid --textColor--;
  width: 230px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
}
input:focus {
  text-transform: capitalize;
  font-size: 15px;
  box-shadow: 0 0 20px 1.2px var(--textColor--);
}
button {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--bg-color--);
  border: 1px solid var(--textColor--);
  height: 41.5px;
  width: 100px;
  color: var(--textColor--);
  transition: 1s;
}
button:hover {
  color: black;
  box-shadow: 0 0 25px 0.2px var(--textColor--) inset;
}
body {
  background-color: var(--bg-color--);
}
@media (max-width: 520px) {
  header {
    font-size: 15px;
    color: black;
    transform: translateY(-20px);
  }
  .form {
    transform: translateY(200px);
    background-size: contain;
    background-repeat: no-repeat;
  }
  input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 15px;
    height: 30px;
  }
  .form button {
    margin: 40px;
    transform: translateX(35px);
  }
}
