header {
  font-size: 45px;
  color: var(--textColor--);
  transition: 0.7s;
}
header:hover {
  transform: rotateY(50deg);
}
h1 {
  margin: 0;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://st.redbus.in/seo/ind/HeroImageGuideline-V-2-new_1650873408.jpg);
  background-color: var(--bg-color--);
}

form {
  margin: 100px 0 200px 0;
}
input {
  margin: 10px;
  border: none;
  border-radius: 6px;
  padding: 0 15px;
  width: 230px;
  height: 40px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  background-color: var(--textColor--);
}
input::placeholder {
  text-align: center;
  color: rgb(0, 0, 0);
}
input:hover {
  scale: 1.1;
  box-shadow: 0 0 10px 2px black;
}
input:focus {
  text-transform: capitalize;
  font-size: 18px;
  color: black;
  box-shadow: 0 0 0px 1.2px rgba(0, 0, 0, 0.568);
}
button {
  color: black;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  opacity: 0.8;
  background-color: var(--textColor--);
  height: 41.5px;
  min-width: 100px;
  width: auto;
  font: 18px bold;
  transition: 1s;
}
button:hover {
  scale: 1.1;
  box-shadow: 0 0 10px 1px var(--textColor--) inset;
}
body {
  background-color: var(--bg-color--);
}
@media (max-width: 520px) {
  header {
    font-size: 15px;
    color: black;
    transform: translateY(-20px);
  }
  .form {
    transform: translateY(200px);
    background-size: contain;
    background-repeat: no-repeat;
  }
  input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 15px;
    height: 30px;
  }
  .form button {
    margin: 40px;
    transform: translateX(35px);
  }
}
