.card-box {
  background-color: var(--bg-color--);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card:hover,
.card-head:hover {
  box-shadow: 0 0 15px 0.5px var(--textColor--) inset;
  border-radius: 10px;
}
.card,
.card-head {
  padding: 20px;
  border-radius: 8px;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.719);
  color: var(--textColor--);
  display: flex;
  margin: 12px;

  min-width: 1000px;
  justify-content: space-evenly;
}
.card li,
.card-head li {
  font-size: 20px;
  list-style: none;
  padding: 10px 10px;
  text-align: left;
}
.card button {
  font-size: 16px;
  height: 40px;
  width: 120px;
}
.card-box li {
  font-size: 20px;
  list-style: none;

  text-align: left;
}
@media (max-width: 520px) {
  .card {
    min-width: 380px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-head {
    display: none;
  }
  .card-box button {
    width: 96px;
    height: 40px;
  }
  .card {
    justify-content: space-around;
  }
  .card li,
  .card-head li {
    min-width: 175px;
    padding: 2px 10px 2px 5px;
    font-size: 25px;
  }
}
