.table tbody tr td:not(:first-child) {
  border: 1px solid blue;
  width: 1em;
  height: 1em;
}

.table tbody tr td:first-child {
  font-weight: bold;
}

.table tr td:nth-child(5) {
  border: none !important;
}
td {
  background-color: var(--bg-color--);
}
.table {
  color: var(--textColor--);
  border-spacing: 3em;
}
.msg {
  display: none;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
