nav h2 {
  color: var(--textColor--);
  padding-left: 206px;
  cursor: pointer;
  width: 100px;
  animation: show 0.1s;
}
nav {
  padding: 0 0px;
  background-color: var(--bg-color--);
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
nav:hover {
  scale: 0.98;
  background: linear-gradient(
    to right,
    var(--bg-color--),
    #c02425,
    var(--bg-color--)
  );
}
.logo {
  cursor: pointer;
  width: 80px;
  height: 50px;
}
#drop-down {
  margin: 10px;
  cursor: pointer;
  width: 20px;
  height: 30px;
}
.nav-list {
  cursor: pointer;
  color: var(--textColor--);
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
  animation: show 0.1s;
}
li {
  padding: 10px;
  transition: 0.1s;
}
li:hover {
  scale: 1.1;
}
.drop {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes show {
  0% {
    width: 20%;
    font-size: 20%;
  }

  40% {
    width: 80%;
    font-size: 86%;
  }
  80% {
    width: 90%;
    font-size: 90%;
  }
  100% {
    width: 100%;
    font-size: 100%;
  }
}
@media (max-width: 520px) {
  #drop-down {
    display: block;
  }
  nav {
    overflow: hidden;
  }
  nav h2 {
    color: black;
    padding: 0px;
  }
  .nav-list {
    color: black;
    font-weight: bold;
    width: 100px;
    font-size: 20px;
    animation: show 0.2s;
  }
}
