nav h2 {
  color: var(--textColor--);
  padding-left: 206px;
  cursor: pointer;
}
nav {
  padding: 0 0px;
  background-color: var(--bg-color--);
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
nav:hover {
  scale: 0.98;
  background: linear-gradient(
    to right,
    var(--bg-color--),
    #c02425,
    var(--bg-color--)
  );
}
.logo {
  cursor: pointer;
  width: 80px;
  height: 50px;
}
.nav-list {
  cursor: pointer;
  color: var(--textColor--);
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
}
li {
  padding: 10px;
}
@media (max-width: 520px) {
  nav {
    overflow: hidden;
  }
  nav h2 {
    color: black;
    padding-right: 20px;
  }
  .nav-list {
    display: none;
  }
}
